
.first-slider{
   height: 100vh;
   background-image: url('../../images/thirdslider.jpg');
   background-size: cover;
   position: relative;
   background-position: top;
}

.first-slider div{
   position: absolute;
   top: 55vh;
   left: 10vw;
}


.first-slider div button{
   padding: 8px 32px;
   border: 1px solid black;
   background-color: black;
   color: white;
   cursor: pointer;
   transition: .3s;
}

.first-slider div button:hover{
   background-color: #fff;
   color: black;
}

.information-container{
  display: flex; 
  justify-content: center;
}

.information-container div{
   width: 90vw;
   max-width: 600px ;
   text-align: center;
   margin: 90px 0;
}

.gallery-container{
   display: flex;
   justify-content: center;
   flex-wrap: wrap;

}

.gallery-container > div:nth-child(1){
   width: 90vw;
   max-width: 579px;
   background-image: url('../../images/Design_sem_nome_56__1.jpg');
   height: 810px;
   background-size: cover;
   background-position: center;
   /* margin-right: 10px; */
}

.gallery-container > div:nth-child(2){
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.gallery-container > div:nth-child(2) div:nth-child(1){
   width: 90vw;
   max-width: 579px;
   height: 400px;
   background-image: url('../../images/ss.jpg');
   background-size: cover;
   background-position: center;

}

.gallery-container > div:nth-child(2) div:nth-child(2){
   width: 90vw;
   max-width: 579px;
   height: 400px;
   background-image: url('../../images/ring-white.jpg');
   background-size: cover;
   background-position: center;
   position: relative;
}

.gallery-container > div:nth-child(2) div:nth-child(2) button{
   background-color: black;
   border: 1px solid black;
   color: white;
   padding: 10px 32px;
   position: absolute;
   bottom: 20px;
   right: 20px;
   cursor: pointer;
   transition: .3s;
}
 


.gallery-container > div:nth-child(2) div:nth-child(2) button:hover{
   background-color: white;
   color: black;
}



.new-colletion{
   background-image: url('../../images/Jewelry_Gray_background_Face_Earrings_Hands_564025_1280x830.jpg');
   background-size: cover;
   padding: 40px;
   display: flex;
   justify-content: center;
}

.new-colletion div > div:nth-child(1){
   width: 300px;
   height: 300px;
   overflow: hidden;
}

.new-colletion > div{
   position: relative;
   width: 300px;
}

.new-colletion > div > div:nth-child(2){
   position: absolute;
   top: 45%;
   width: 100%;
   display: flex;
   justify-content: space-between;
   padding: 0 20px;
}

.new-colletion > div > div:nth-child(2) button{
   border: none;
   background-color: transparent;
   cursor: pointer;
}

.new-colletion > div > div:nth-child(1) > div >div p{
   position: relative;
   top: 50px;
   left: 40px;
}

.products{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.products i{
   cursor: pointer;
}

.products div{
   overflow: hidden;
   height: 700px;
}

.products div div{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.categories{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   overflow: hidden;
}

.categories .categories-images{
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   margin-top: 50px;
}

.categories .categories-images .errings, .necklaces, .rings, .bracelets {
   height: 500px;
   width: 90vw;
   max-width: 320px;
   border: 1px sold black;
   display: flex;
   flex-direction: column;
   align-items: center;
   margin: 10px;
   transition: .3s;
   cursor: pointer;

}

.categories .categories-images .errings p, .necklaces p, .rings p, .bracelets p{
   margin-top: 10px;
}

.categories .categories-images .errings div{
   background-image: url('../../images/PENDIENTES_1.webp');
   height: 90%;
   width: 100%;
   background-position: center;
   background-size: cover;
}

.categories .categories-images .errings:hover, .necklaces:hover, .rings:hover, .bracelets:hover{
   transform: scale(1.05);
}

.categories .categories-images .necklaces div{
   background-image: url('../../images/COLGANTE.webp');
   height: 90%;
   width: 100%;
   background-position: center;
   background-size: cover;
}

.categories .categories-images .rings div{
   background-image: url('../../images/ANILLO.jpg');
   height: 90%;
   width: 100%;
   background-position: center;
   background-size: cover;
}

.categories .categories-images .bracelets div{
   background-image: url('../../images/PULSERA.jpg');
   height: 90%;
   width: 100%;
   background-position: center;
   background-size: cover;
}



@media only screen and (min-width: 600px) {
   .new-colletion{
      justify-content: end;
   }
    
 }

 
 @media only screen and (min-width: 768px) {
   .new-colletion div > div:nth-child(1){
      width: 500px;
      height: 500px;
   }
   
   .new-colletion > div{
      width: 500px;
   }
 }


 @media only screen and (min-width: 992px) {

 }
 

 @media only screen and (min-width: 1200px) {
   .gallery-container > div:nth-child(1){
      margin-right: 10px;
   }
 }